In [113]:
import pandas as pd

In [114]:
df = pd.read_csv('./data/daniel_imdb_ratings_february_25_2023.csv')
df.head()

,Const,Your Rating,Date Rated,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,tt10016180,4,2021-02-26,The Little Things,https://www.imdb.com/title/tt10016180/,movie,6.3,128.0,2021,"Crime, Drama, Mystery, Thriller",108418,2021-01-28,John Lee Hancock
1,tt10023286,8,2021-12-05,The Humans,https://www.imdb.com/title/tt10023286/,movie,6.2,108.0,2021,Drama,8818,2021-09-12,Stephen Karam
2,tt0100403,5,2022-11-27,Predator 2,https://www.imdb.com/title/tt0100403/,movie,6.3,108.0,1990,"Action, Horror, Sci-Fi",172327,1990-11-19,Stephen Hopkins
3,tt10048342,8,2020-11-21,The Queen's Gambit,https://www.imdb.com/title/tt10048342/,tvMiniSeries,8.6,60.0,2020,Drama,470654,2020-10-23,NaN
4,tt1010048,9,2011-03-19,Slumdog Millionaire,https://www.imdb.com/title/tt1010048/,movie,8.0,120.0,2008,"Crime, Drama, Romance",852177,2008-08-30,"Loveleen Tandan, Danny Boyle"

In [116]:
df['Title Type'].value_counts() ##TvSeries, TvMiniSeries

movie           545
tvSeries         35
tvEpisode        24
tvMiniSeries     12
videoGame         6
video             4
tvMovie           2
short             1
Name: Title Type, dtype: int64

In [124]:
series_seen_list = df[df['Title Type'].apply(lambda x : x in ['tvSeries', 'tvMiniSeries'])]['Const'].values
series_seen_list[:5]

array(['tt10048342', 'tt10155688', 'tt10166622', 'tt12005128',
       'tt12530128'], dtype=object)

In [125]:
df2 = pd.read_csv("./data/AllSeriesEpisodes_Feb25.csv")
df2

,tconst,parentTconst,seasonNumber,episodeNumber,startYear,averageRating,numVotes,primaryTitle,runtimeMinutes
0,tt0606011,tt0412142,2,1,2005,8.4,2967,Acceptance,44
1,tt0606012,tt0412142,2,2,2005,9.2,4355,Autopsy,44
2,tt0606013,tt0412142,1,18,2005,8.8,3233,Babies & Bathwater,44
3,tt0606014,tt0412142,1,14,2005,8.6,3156,Control,45
4,tt0606015,tt0412142,1,13,2005,8.1,2946,Cursed,45
...,...,...,...,...,...,...,...,...,...
2433,tt9734958,tt7335184,2,7,2019,8.3,3079,Ex-istential Crisis,50
2434,tt9734986,tt7335184,2,8,2019,8.7,3921,Fear and Loathing in Beverly Hills,48
2435,tt9734994,tt7335184,2,9,2019,9.0,4233,P.I. Joe,44
2436,tt9734998,tt7335184,2,10,2019,8.6,4225,"Love, Actually",49
2437,tt9765202,tt0206512,13,1,2020,6.8,177,A Place for Pets/Lockdown for Love,23

In [127]:
df2.groupby("parentTconst").sum(numeric_only=True)

,seasonNumber,episodeNumber,startYear,averageRating,numVotes,runtimeMinutes
parentTconst,,,,,,
tt0206512,1913,3250,581058,2069.8,157281,6452
tt0412142,789,2049,353422,1482.3,495408,7811
tt0460649,1062,2516,417998,1667.4,793230,5033
tt0773262,432,624,192912,813.3,501451,5076
tt0844441,311,500,162878,640.1,124450,4351
tt0898266,1861,3405,563691,2177.3,903281,5684
tt0903747,204,437,124646,555.4,1895428,2971
tt0944947,307,379,147043,638.0,4123206,4214
tt0979432,163,348,114676,479.6,111914,3159
tt10048342,7,28,14140,59.7,70520,395
tt10155688,7,28,14147,59.6,38319,418
tt10166622,8,36,16176,61.6,5561,403
tt12005128,8,36,16176,59.4,3192,427
tt12530128,8,36,16176,63.6,1161,0
tt13207736,10,55,20220,79.7,40624,526
tt13837672,4,10,8084,26.6,2949,219
tt14164730,10,55,20212,83.0,97388,530
tt14852808,7,28,14154,49.1,9544,334
tt1520211,1188,1617,356903,1401.4,1893828,8104
tt1796960,432,624,193439,788.2,268367,4978
tt1856010,243,491,147119,583.2,320914,3767
tt2243973,78,273,78546,338.7,238061,1683
tt2249007,322,523,165311,675.7,76737,4318
tt2356777,48,108,48384,203.5,303260,1446
tt2401256,8,36,16128,69.2,32601,521
tt2575988,180,265,106869,432.9,89817,1560
tt2788432,58,155,58532,237.5,66552,1600
tt2802850,104,231,82680,344.1,256351,2194
tt3032476,228,366,127146,554.9,951626,3133
tt3920596,21,56,28252,117.4,63356,702
tt4158110,116,279,90759,400.3,416213,2199
tt4508902,38,156,50427,210.2,71001,565
tt4574334,86,162,68631,291.9,742849,2070
tt5071412,116,270,88858,365.1,210610,2659
tt5290382,28,100,38341,158.8,107836,1014
tt5348176,48,108,48472,205.8,86706,777
tt5675620,39,182,52468,221.8,151554,1382
tt6205862,13,90,26208,103.3,509,48
tt6517102,90,156,64622,264.8,54794,830
tt6763664,10,55,20180,86.0,89717,576
tt7049682,9,45,18171,77.4,71403,529
tt7335184,60,165,60580,238.6,100761,1413
tt7366338,5,15,10095,47.7,253195,327
tt7423538,8,36,16160,61.3,14103,433
tt8134186,8,36,16160,62.4,12602,405
tt8134470,6,21,12120,46.3,17326,336
tt8550800,10,55,20200,79.8,36808,580

In [129]:
# ALL CONTENT WATCHED
# dict_tconst_title = {}
# for x,y in df[['Const', 'Title']].values:
#     dict_tconst_title[x] = y

In [131]:
dict_tconst_title_series = {}
for id, title in df[df['Title Type'].apply(lambda x : x in ['tvSeries', 'tvMiniSeries'])][['Const','Title']].values:
    dict_tconst_title_series[id] = title

In [132]:
dict_tconst_title_series

{'tt10048342': "The Queen's Gambit",
 'tt10155688': 'Mare of Easttown',
 'tt10166622': 'The Dropout',
 'tt12005128': 'WeCrashed',
 'tt12530128': 'As We See It',
 'tt13207736': 'Dahmer - Monster: The Jeffrey Dahmer Story',
 'tt13837672': 'Crime Scene: The Vanishing at the Cecil Hotel',
 'tt14164730': 'Dexter: New Blood',
 'tt14852808': 'The Watcher',
 'tt1520211': 'The Walking Dead',
 'tt1796960': 'Homeland',
 'tt1856010': 'House of Cards',
 'tt0206512': 'SpongeBob SquarePants',
 'tt2243973': 'Hannibal',
 'tt2249007': 'Ray Donovan',
 'tt2356777': 'True Detective',
 'tt2401256': 'The Night Of',
 'tt2575988': 'Silicon Valley',
 'tt2788432': 'American Crime Story',
 'tt2802850': 'Fargo',
 'tt3032476': 'Better Call Saul',
 'tt3920596': 'Big Little Lies',
 'tt0412142': 'House M.D.',
 'tt4158110': 'Mr. Robot',
 'tt4508902': 'One Punch Man: Wanpanman',
 'tt4574334': 'Stranger Things',
 'tt0460649': 'How I Met Your Mother',
 'tt5071412': 'Ozark',
 'tt5290382': 'Mindhunter',
 'tt5348176': 'Barry',
 'tt5675620': 'The Punisher',
 'tt6205862': 'Inside Look: The People v. O.J. Simpson - American Crime Story',
 'tt6517102': 'Castlevania',
 'tt6763664': 'The Haunting of Hill House',
 'tt7049682': 'Watchmen',
 'tt7335184': 'You',
 'tt7366338': 'Chernobyl',
 'tt7423538': 'Ratched',
 'tt0773262': 'Dexter',
 'tt8134186': 'Devs',
 'tt8134470': 'The Undoing',
 'tt0844441': 'True Blood',
 'tt8550800': 'The Outsider',
 'tt0898266': 'The Big Bang Theory',
 'tt0903747': 'Breaking Bad',
 'tt0944947': 'Game of Thrones',
 'tt0979432': 'Boardwalk Empire'}

In [134]:
# Tconst and Title Columns
df2['seriesTitle'] = df2['parentTconst'].apply(lambda x : dict_tconst_title_series[x])
df2

,tconst,parentTconst,seasonNumber,episodeNumber,startYear,averageRating,numVotes,primaryTitle,runtimeMinutes,seriesTitle
0,tt0606011,tt0412142,2,1,2005,8.4,2967,Acceptance,44,House M.D.
1,tt0606012,tt0412142,2,2,2005,9.2,4355,Autopsy,44,House M.D.
2,tt0606013,tt0412142,1,18,2005,8.8,3233,Babies & Bathwater,44,House M.D.
3,tt0606014,tt0412142,1,14,2005,8.6,3156,Control,45,House M.D.
4,tt0606015,tt0412142,1,13,2005,8.1,2946,Cursed,45,House M.D.
...,...,...,...,...,...,...,...,...,...,...
2433,tt9734958,tt7335184,2,7,2019,8.3,3079,Ex-istential Crisis,50,You
2434,tt9734986,tt7335184,2,8,2019,8.7,3921,Fear and Loathing in Beverly Hills,48,You
2435,tt9734994,tt7335184,2,9,2019,9.0,4233,P.I. Joe,44,You
2436,tt9734998,tt7335184,2,10,2019,8.6,4225,"Love, Actually",49,You
2437,tt9765202,tt0206512,13,1,2020,6.8,177,A Place for Pets/Lockdown for Love,23,SpongeBob SquarePants

In [135]:
df2.groupby("seriesTitle").sum().sort_values(by="runtimeMinutes", ascending=False)

C:\Users\xenomorph\AppData\Local\Temp\ipykernel_22968\1914669842.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2.groupby("seriesTitle").sum().sort_values(by="runtimeMinutes", ascending=False)

,seasonNumber,episodeNumber,startYear,averageRating,numVotes,runtimeMinutes
seriesTitle,,,,,,
The Walking Dead,1188,1617,356903,1401.4,1893828,8104
House M.D.,789,2049,353422,1482.3,495408,7811
SpongeBob SquarePants,1913,3250,581058,2069.8,157281,6452
The Big Bang Theory,1861,3405,563691,2177.3,903281,5684
Dexter,432,624,192912,813.3,501451,5076
How I Met Your Mother,1062,2516,417998,1667.4,793230,5033
Homeland,432,624,193439,788.2,268367,4978
True Blood,311,500,162878,640.1,124450,4351
Ray Donovan,322,523,165311,675.7,76737,4318
Game of Thrones,307,379,147043,638.0,4123206,4214
House of Cards,243,491,147119,583.2,320914,3767
Boardwalk Empire,163,348,114676,479.6,111914,3159
Better Call Saul,228,366,127146,554.9,951626,3133
Breaking Bad,204,437,124646,555.4,1895428,2971
Ozark,116,270,88858,365.1,210610,2659
Mr. Robot,116,279,90759,400.3,416213,2199
Fargo,104,231,82680,344.1,256351,2194
Stranger Things,86,162,68631,291.9,742849,2070
Hannibal,78,273,78546,338.7,238061,1683
American Crime Story,58,155,58532,237.5,66552,1600
Silicon Valley,180,265,106869,432.9,89817,1560
True Detective,48,108,48384,203.5,303260,1446
You,60,165,60580,238.6,100761,1413
The Punisher,39,182,52468,221.8,151554,1382
Mindhunter,28,100,38341,158.8,107836,1014
Castlevania,90,156,64622,264.8,54794,830
Barry,48,108,48472,205.8,86706,777
Big Little Lies,21,56,28252,117.4,63356,702
The Outsider,10,55,20200,79.8,36808,580
The Haunting of Hill House,10,55,20180,86.0,89717,576
One Punch Man: Wanpanman,38,156,50427,210.2,71001,565
Dexter: New Blood,10,55,20212,83.0,97388,530
Watchmen,9,45,18171,77.4,71403,529
Dahmer - Monster: The Jeffrey Dahmer Story,10,55,20220,79.7,40624,526
The Night Of,8,36,16128,69.2,32601,521
Ratched,8,36,16160,61.3,14103,433
WeCrashed,8,36,16176,59.4,3192,427
Mare of Easttown,7,28,14147,59.6,38319,418
Devs,8,36,16160,62.4,12602,405
The Dropout,8,36,16176,61.6,5561,403
The Queen's Gambit,7,28,14140,59.7,70520,395
The Undoing,6,21,12120,46.3,17326,336
The Watcher,7,28,14154,49.1,9544,334
Chernobyl,5,15,10095,47.7,253195,327
Crime Scene: The Vanishing at the Cecil Hotel,4,10,8084,26.6,2949,219
Inside Look: The People v. O.J. Simpson - American Crime Story,13,90,26208,103.3,509,48
As We See It,8,36,16176,63.6,1161,0

In [42]:
df2.groupby("seriesTitle").sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430 entries, 0 to 2429
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          2430 non-null   object
 1   parentTconst    2430 non-null   object
 2   seasonNumber    2430 non-null   int64
 3   episodeNumber   2430 non-null   int64
 4   startYear       2430 non-null   int64
 5   averageRating   2430 non-null   float64
 6   numVotes        2430 non-null   int64
 7   primaryTitle    2430 non-null   object
 8   runtimeMinutes  2430 non-null   int64
 9   seriesTitle     2430 non-null   object
dtypes: float64(1), int64(5), object(4)
memory usage: 190.0+ KB

In [136]:
dict_tconst_title_series

{'tt10048342': "The Queen's Gambit",
 'tt10155688': 'Mare of Easttown',
 'tt10166622': 'The Dropout',
 'tt12005128': 'WeCrashed',
 'tt12530128': 'As We See It',
 'tt13207736': 'Dahmer - Monster: The Jeffrey Dahmer Story',
 'tt13837672': 'Crime Scene: The Vanishing at the Cecil Hotel',
 'tt14164730': 'Dexter: New Blood',
 'tt14852808': 'The Watcher',
 'tt1520211': 'The Walking Dead',
 'tt1796960': 'Homeland',
 'tt1856010': 'House of Cards',
 'tt0206512': 'SpongeBob SquarePants',
 'tt2243973': 'Hannibal',
 'tt2249007': 'Ray Donovan',
 'tt2356777': 'True Detective',
 'tt2401256': 'The Night Of',
 'tt2575988': 'Silicon Valley',
 'tt2788432': 'American Crime Story',
 'tt2802850': 'Fargo',
 'tt3032476': 'Better Call Saul',
 'tt3920596': 'Big Little Lies',
 'tt0412142': 'House M.D.',
 'tt4158110': 'Mr. Robot',
 'tt4508902': 'One Punch Man: Wanpanman',
 'tt4574334': 'Stranger Things',
 'tt0460649': 'How I Met Your Mother',
 'tt5071412': 'Ozark',
 'tt5290382': 'Mindhunter',
 'tt5348176': 'Barry',
 'tt5675620': 'The Punisher',
 'tt6205862': 'Inside Look: The People v. O.J. Simpson - American Crime Story',
 'tt6517102': 'Castlevania',
 'tt6763664': 'The Haunting of Hill House',
 'tt7049682': 'Watchmen',
 'tt7335184': 'You',
 'tt7366338': 'Chernobyl',
 'tt7423538': 'Ratched',
 'tt0773262': 'Dexter',
 'tt8134186': 'Devs',
 'tt8134470': 'The Undoing',
 'tt0844441': 'True Blood',
 'tt8550800': 'The Outsider',
 'tt0898266': 'The Big Bang Theory',
 'tt0903747': 'Breaking Bad',
 'tt0944947': 'Game of Thrones',
 'tt0979432': 'Boardwalk Empire'}

In [151]:
import json
with open("./data/daniel_series_watched.json","w") as f:
    json.dump([dict_tconst_title_series],f)

In [158]:
test_series = pd.read_json("./data/daniel_series_watched.json").T
test_series
test_series2={}
for key, title in test_series[0].items():
    test_series2[key] = title
test_series2

{'tt10048342': "The Queen's Gambit",
 'tt10155688': 'Mare of Easttown',
 'tt10166622': 'The Dropout',
 'tt12005128': 'WeCrashed',
 'tt12530128': 'As We See It',
 'tt13207736': 'Dahmer - Monster: The Jeffrey Dahmer Story',
 'tt13837672': 'Crime Scene: The Vanishing at the Cecil Hotel',
 'tt14164730': 'Dexter: New Blood',
 'tt14852808': 'The Watcher',
 'tt1520211': 'The Walking Dead',
 'tt1796960': 'Homeland',
 'tt1856010': 'House of Cards',
 'tt0206512': 'SpongeBob SquarePants',
 'tt2243973': 'Hannibal',
 'tt2249007': 'Ray Donovan',
 'tt2356777': 'True Detective',
 'tt2401256': 'The Night Of',
 'tt2575988': 'Silicon Valley',
 'tt2788432': 'American Crime Story',
 'tt2802850': 'Fargo',
 'tt3032476': 'Better Call Saul',
 'tt3920596': 'Big Little Lies',
 'tt0412142': 'House M.D.',
 'tt4158110': 'Mr. Robot',
 'tt4508902': 'One Punch Man: Wanpanman',
 'tt4574334': 'Stranger Things',
 'tt0460649': 'How I Met Your Mother',
 'tt5071412': 'Ozark',
 'tt5290382': 'Mindhunter',
 'tt5348176': 'Barry',
 'tt5675620': 'The Punisher',
 'tt6205862': 'Inside Look: The People v. O.J. Simpson - American Crime Story',
 'tt6517102': 'Castlevania',
 'tt6763664': 'The Haunting of Hill House',
 'tt7049682': 'Watchmen',
 'tt7335184': 'You',
 'tt7366338': 'Chernobyl',
 'tt7423538': 'Ratched',
 'tt0773262': 'Dexter',
 'tt8134186': 'Devs',
 'tt8134470': 'The Undoing',
 'tt0844441': 'True Blood',
 'tt8550800': 'The Outsider',
 'tt0898266': 'The Big Bang Theory',
 'tt0903747': 'Breaking Bad',
 'tt0944947': 'Game of Thrones',
 'tt0979432': 'Boardwalk Empire'}

In [161]:
for key, title in test_series[0].items():
    print(title)

The Queen's Gambit
Mare of Easttown
The Dropout
WeCrashed
As We See It
Dahmer - Monster: The Jeffrey Dahmer Story
Crime Scene: The Vanishing at the Cecil Hotel
Dexter: New Blood
The Watcher
The Walking Dead
Homeland
House of Cards
SpongeBob SquarePants
Hannibal
Ray Donovan
True Detective
The Night Of
Silicon Valley
American Crime Story
Fargo
Better Call Saul
Big Little Lies
House M.D.
Mr. Robot
One Punch Man: Wanpanman
Stranger Things
How I Met Your Mother
Ozark
Mindhunter
Barry
The Punisher
Inside Look: The People v. O.J. Simpson - American Crime Story
Castlevania
The Haunting of Hill House
Watchmen
You
Chernobyl
Ratched
Dexter
Devs
The Undoing
True Blood
The Outsider
The Big Bang Theory
Breaking Bad
Game of Thrones
Boardwalk Empire

In [163]:
len(test_series)

47

# <font color = 'red'>  TESTING Automation3

In [167]:
STRING1="Dahmer - Monster: The Jeffrey Dahmer Story".replace(" ","").replace(":","")

In [168]:
STRING1

'Dahmer-MonsterTheJeffreyDahmerStory'

In [169]:
STRING2 = "JOE BIDEN".replace(" ","").replace(":","")

In [170]:
STRING2

'JOEBIDEN'